:root {
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  --headline1: 'Roboto';
}

body {
  color: var(--gray30);
  font-family: var(--headline1);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 24px;
}

header {
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray20);
}

nav details summary {
  font-weight: bold;
}