h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 24px;
}

header {
  font-size: 14px;
  color: #616161;
}

header a {
  color: #616161;
  text-decoration: none;
}

header a:hover {
  color: #212121;
}

nav details summary {
  font-weight: bold;
}